<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> ABOUT US </title>
</head>
<body style="background-color: cornflowerblue">
<img width="400" height="400" src="http://platform.bing.com/geo/REST/v1/Imagery/Map/Road/28.634001,77.445999/13?ms=297,150&pp=28.634001,77.445999;51&key=Ajm-RgYrhxMXsfUcAPBGX0ZvJzAvM92jRxZK9raEZMOi-3W3MNUjZLvaCr8EW61H&c=en-US&ur=in&od=1" align="right">
<p style="font-size: 30px">Campus -1, 19th KM Stone,
    NH-24, Delhi-Hapur Bypass Road, Vijay Nagar, Ghaziabad U.P., India<br>
    Phone: +91-120-7135112 (30 Lines), 2845112,113 Fax: +91-120-2845114,115, 7135115
    Email: info@abes.ac.in<br>



    For Academic Queries (Existing Students) Call
    Registrar - 9999889342
    Dy. Registrar - 9582260304
</p>
</body>
</html>

